@import "app-settings";
$defaultFontSize: 16px;

@media only screen and (max-width: $smallWidth) {
	#orbit-wrapper-main {
		margin-top: 70px;
		margin-left: 10px;
		margin-right: 10px;
	}

	a.slider-button {
		width: 100%;
	}
}

#orbit-wrapper-main {
	.slider-header {
		line-height: 1.1em;
	}
	.slider-content {
		line-height: 1.5em;
	}
}

.orbit-container-custom {
	min-height: 545px;
}

h5.slider-header {
	font-size: 3.8em;
	font-weight: 200;
}
p.slider-content {
	font-size: 1.2em;
	line-height: 1.6em;
}
a.slider-button {
	&:hover {
		border-color: #118ccf;
		background-color: #118ccf;
	}
}

nav {
	button {
		width: .8em!important;
		height: .8em!important;
		background-color: #ececec!important;
		cursor: pointer;
	}

	.is-active {
		background-color: #118ccf!important;
	}
}

h4.featured-product-head {
	@include main-header();
}

div.featured-price {
	padding-bottom: 5px;
	font-size: 18px;
	padding-top: 5px;
	padding-right: 10px;

	strike {
		color: #db0618;
		margin-right: 5px;
	}
}

#featured-product-items {
	div {
		h6 {
			font-size: 18px;
		}
	}
}

div {
	a.button {
		&:hover {
			@include button-hover()
		}
	}
}

h4.newest-guide-head {
	@include main-header();
}

div.card-train-pro {
	padding: 10px 0;
	text-align: center;
}

table.review-table {
	border-collapse: initial;
	border: 1px solid #dcdcdc!important;

	tr {
		td {
			padding-top: 21px;
			padding-bottom: 21px;
		}

		td.review-window {
			font-size: 14px;
			font-style: italic;
			text-align: center;
		}

		td.ratings {
			vertical-align: middle;
			text-align: center;

			i.fa {
				color: #ffd700;
			}

			i.rating-caption {
				display: block;
				font-size: 12px;
			}

			a {
				color: inherit;
			}
		}

	}
}

#newest-guide-grid {

	font-size: $defaultFontSize;
	h5 {
		font-weight: 600;
	}
}

#ps-info {
	h4	{
		font-weight: 600;
	}
	h5	{
		font-weight: 600;
	}
	p {
		font-size: $defaultFontSize;
	}
}

a#read-more-btn {
	&:hover {
		@include button-hover()
	}
}