@import "app-settings";
@import "main"; 
@import "support/privacy";
@import "support/shipping";
@import "support/return";

@media only screen and (max-width: $smallWidth) {
	.site-logo {
		a {
			img {
				object-fit: cover;
				width: 40px;
				height: 40px;
				object-position: 0;
			}
		}
	}

	#header-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding: 10px 15px 0 15px;
		background-color: #ffffff;
		box-shadow: 0 0 8px rgba(0,0,0,.5);
	}

	.site-badge {
		div {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

body {
	font-size: $defaultFontSize;
	overflow-x: hidden;
	font-family: $fontFamily;

}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-family: $fontFamily;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.radius {
	border-radius: 3px!important;
}
.radius-left {
	border-radius: 3px 0 0 3px!important;
}
.radius-right {
	border-radius: 0 3px 3px 0!important;
}

.radius-top-right {
	border-radius: 0 3px 0 0!important;
}
.radius-bottom-right {
	border-radius: 0 0 3px 0!important;
}

.margin-top-custom-10 {
	margin-top: 10px;
}
.margin-top-custom-20 {
	margin-top: 20px;
}
.margin-top-custom-30 {
	margin-top: 40px;
}
.margin-top-custom-40 {
	margin-top: 40px;
}
.margin-top-custom-50 {
	margin-top: 50px;
}

.margin-bottom-custom-10 {
	margin-bottom: 10px;
}
.margin-bottom-custom-20 {
	margin-bottom: 20px;
}
.margin-bottom-custom-30 {
	margin-bottom: 40px;
}
.margin-bottom-custom-40 {
	margin-bottom: 40px;
}
.margin-bottom-custom-50 {
	margin-bottom: 50px;
}

header {
	background-color: #118ccf;
	margin-bottom: 10px;

	ul.header-menu {
		li {
			a {
				padding-top: .5rem!important;
				padding-bottom: .5rem!important;
				padding-left: 0!important;
				padding-right: .3rem!important;
				font-size: 14px!important;
				color: $headerFontColor;

				&:hover {
					color: $headerFontColor;
				}

				i {
					color: $headerFontColor!important;
				}
			}

			.header-menu-dot {
				font-size: .85em!important;
				padding-top: 5px!important;
				padding-left: 10px!important;
				padding-right: 10px!important;
				&:hover {
					cursor: text;
					color: $headerFontColor;
				}
			}
		}
	}
}

.header-holder {
	padding-top: 10px;

	a.menu-icon-button {
		width: initial!important;
		height: initial!important;
		padding: 10px;

		&::after {
			content: initial!important;
		}

		i {
			padding-top: 5px;
		}
	}

	div {

		a.btn-cart {
			line-height: .9;

			&:hover {
				color: #1779ba!important;
				border: 1px solid #1779ba!important;
				background-color: #ffffff!important;
			}
		}

		i.view-cart-caret {
			margin-right: -4px;
			color: #118ccf;
		}

		a.view-cart-price {
			border: #118ccf;
			background-color: #118ccf;

			&:link, &:hover {
				background-color: #118ccf;
				font-size: 20px;
				padding: 10px;
				cursor: text;
				color: #ffffff;
			}
		}
	}
}

#site-menus-wrapper {

	ul.site-menus {
		li.site-menus-item {
			border: 1px solid #ececec;
			border-right: none;
			color: #118ccf;
			font-size: $defaultFontSize;

			&:first-child {
				@extend .radius-left;

				a {
					@extend .radius-right;
				}
			}

			&:last-child {

				a {
					@extend .radius-right;
					border-right: 1px solid #ececec;
				}
			}

			a {
				&:hover {
					color: #ffffff;
					background-color: #118ccf;
				}
			}

			ul.menu {
				li {
					text-align: left;
					color: #ececec;

					a {
						color: #4f5254!important;
						font-size: 12px;
						border-bottom: 1px solid #ececec!important;

						&:hover {
							background-color: #ececec!important;
						}
					}
				}

				.is-active > a {
					background-color: #ececec;
				}
			}
			.is-dropdown-submenu {
				border-color: #ececec;
			}
		}

	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border: none!important;
		content: none!important;
	}

	.is-dropdown-submenu .is-dropdown-submenu-parent > a::after,
	.is-dropdown-submenu .is-dropdown-submenu-parent .opens-right > a::after {
		border-color: transparent transparent transparent rgba(79,82,84,0.38)!important;
	}
}

#offCanvasLeftSplitMenu {
	background-color: #ffffff;

	ul.site-menus {
		li.site-menus-item {
			border-left: 1px solid #ececec;
			border-bottom: 1px solid #ececec;
			font-size: 18px;

			a {
				color: #4f5254;

				&:hover {
					background-color: none!important;
				}
			}

			ul.menu {
				li {
					text-align: left;
					color: #ececec;
					font-size: $defaultFontSize;

					a {
						color: #4f5254;
						border-bottom: 1px solid #ececec!important;

						&:hover {
							background-color: #ececec;
						}
					}
				}

				.is-active > a {
					background-color: #ececec;
				}
			}
			.is-dropdown-submenu {
				border-color: #ececec;
			}
		}
	}

	.drilldown .js-drilldown-back a {
		color: #fff!important;
		&:hover {
			background-color: inherit;
		}
	}
	.drilldown .js-drilldown-back > a {
		background-color: #118ccf!important;
	}
	.drilldown .js-drilldown-back > a::before {
		color: #fff!important;
		border-color: transparent rgba(255,255,255,255) transparent transparent!important;
	}
	.dropdown.menu > li.is-dropdown-submenu-parent > a::after,
	.is-dropdown-submenu .is-dropdown-submenu-parent > a::after,
	.is-dropdown-submenu .is-dropdown-submenu-parent .opens-right > a::after {
		border-color: transparent transparent transparent rgba(79,82,84,0.38)!important;
	}
}

div.callout-footer {
	background-color: #118ccf;
	color: #fff;
	padding-top: 20px!important;
	padding-bottom: 20px!important;
	margin-top: 20px!important;
	border: none;

	.cell {
		margin-bottom: 10px;

		strong {
			font-size: $defaultFontSize;
			font-weight: 600;
		}

		ul {
			border-top: 1px solid #fff;
			margin-top: 5px;
			margin-right: 20px;

			li {
				margin-top: 5px;

				a {
					font-size: .85em;
					color: #fff;
					padding-left: 0;
					padding-bottom: 0;
				}
			}
		}

		form#newsletter-sign-up {
			border-top: 1px solid #fff;
			padding-top: 20px;
			margin-top: 5px;

			div {

				input {
					height: 30px;
					font-size: .8em;
				}

				div {
					button {
						color: #fff;
						font-size: .9em;
						border: 1px solid #fff;
					}
				}
			}
		}
	}
}

div {
	p.ps-copy-rights {
		font-size: 12px;
		color: #525252;

		strong.footer-dot {
			padding-bottom: 11px;
			font-size: 1.5em;
			line-height: 0;
			vertical-align: middle;
			margin-left: 5px;
			margin-right: 5px;
		}

		span.footer-terms-of-use {
			margin-left: 50px;
		}
	}
}

.breadcrumbs {
	li {
		font-size: 14px;
	}
}
.breadcrumbs-custom {
	margin-bottom: .5rem!important;
}

.support-wrapper {
	padding-left: 60px;
	padding-right: 60px;
}

.support-head {
	color: #118ccf;
	font-weight: 600;
}

.support-header {
	color: #ff6666;
	font-weight: bold;
}
.support-ul {
	padding-left: 20px;
}
.support-label {
	color: #118ccf;
}
.support-value {
	color: #ff6666;
}
.font-white {
	color: #ffffff!important;
}

.ps-h-weight {
	font-weight: 600;
}

.ps-bold-lighter {
	font-weight: lighter;
}

.success2 {
	background-color: #5cb85c;
	color: #ffffff;
	&:hover {
		background-color: #449d44;
		border-color:#398439
	}
}
.alert-first {
	color: #ff0000;
	font-size: 12px;
	margin-top: -15px;
}

.success-first {
	color: #449d44;
	font-size: 12px;
	margin-top: -15px;
}

.ps-blue {
	color: #118ccf;
}

.accordion-account {
	li {
		a {
			font-size: 1rem!important;
		}
		.accordion-content {
			padding-left: 3rem!important;
		}
	}
}

/* ** Register ** */
.register-wrapper {
	border: 1px solid #D8D5CD;
	background-color: #FCFCFC;
	margin-bottom: 50px;

	.cell-right {
		height: 310px;
		border-left: 1px solid #D8D5CD;

		.middle {
			font-weight: bold;
		}
	}
}

.olark-launch-button {z-index:9 !important;}

.product-list-1 {
	height: 550px!important;
	margin-bottom: 15px;
}

ul.product-feature {
	padding-left: 15px;
	margin-bottom: 20px;
	li {
		font-size: 14px!important;
	}
}

.product-list-1-details-btn-bottom {
	position: absolute;
	right:15px;
	bottom: 0;
	width: 100%;
}

.ps-product-border-top {
	border-top: 2px solid #118ccf;
}
.ps-product-padding-top {
	padding-top: 15px;
}
.ps-product-border-right {
	border-right: 1px solid #118ccf;
}

.ps-img-thumbnail {

	img {
		border: 10px solid #fff;

		&:hover {
			border: 10px solid #eeebeb;
			cursor: pointer;
		}
	}
}

.ps-product-img-container {
	overflow: hidden;
	&:hover {
		cursor: zoom-in;
	}
}

.ps-product-features {
	column-count: 3;
	margin-left: 40px;
}

#cart-table-header {
	.cell {
		background-color: #118ccf;
		border-right: 1px solid #ffffff;
		color: #ffffff;
	}
}

.cart-table-body {
	.cart-cell {
		border-right: 1px solid #ffffff;
		border-bottom: 1px solid #118ccf;
	}
}

.cart-table-body {
	.cart-table-body-td-colored {
		background-color: #efefef;
	}
}

#cart-subtotal {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	
	.cell {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

#cart-checkout-paypal {
	button {
		margin: 0;
	}

	.clear {
		padding: 0;
	}
}

.ps-fixed-height-100 {
	height: 100px;
}

.increment_decrement_validation_msg {
	padding-top: 5px;
	padding-left: 10px;
	span {
		color: #ff0000;
	}
}

.input-number-top-btn,
.input-number-bottom-btn {
	height: 50%;
	padding:0;
	margin-bottom:0;
}
.input-number-top-btn {
	border-bottom: 1px solid #fff;
}

.bo_quantity {
	font-size: 11px;
	height: 35px;
}
#buying-options {
	padding: 10px;
}
.buying-options-row {
	margin-bottom: 10px;
}
.buying-options-warehouse {
	line-height: 15px;
}
.ps-product-discount {
	.span1 {
		color: #ff0000;
		padding-right: 10px;
	}
	.span2 {
		padding-left: 10px;
		color: #aaaaaa;
		font-weight: normal;
	}
}
.product-rating {
	color: #118ccf;
}

/* Star CSS */
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
  label {
  	margin-right: 0!important;
  }
}
.star-cb-group * {
  font-size: 1.3rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, 
.star-cb-group > input + label:hover ~ label:before, 
.star-cb-group > input + label:hover:before {
  content: "★";
  color: #fefe95; /*#e52;*/
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, 
.star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #fefe95;
  text-shadow: 0 0 1px #333;
}

/*:root {
  font-size: 2em;
  font-family: Helvetica, arial, sans-serif;
}*/

/*End Star*/