body {
	font-size: 16px;
	overflow-x: hidden;
	font-family: 'Source Sans Pro',sans-serif !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro',sans-serif !important;
}
header {
	background-color: #118ccf;
	margin-bottom: 10px;
}
.header-holder {
	padding-top: 10px;
}
.burger-menu {
	padding-top: 5px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.container-header i, .container-header a  {
	color: #fff;
}
.header-menu li a {
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 0;
	padding-right: .3rem;
}
.header-menu .header-menu-font {
	font-size: .85em;
}
.header-menu .header-menu-dot {
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-icon-button {
	width: initial!important;
	height: initial!important;
	padding: 11px;
}
.menu-icon-button::after {
	content: initial!important;
}
.menu-icon-button {
	padding-top: 7px;
}
.radius {
	border-radius: 3px!important;
}
.radius-left {
	border-radius: 3px 0 0 3px!important;
}
.radius-right {
	border-radius: 0 3px 3px 0!important;
}
.btn-cart:hover {
	border: 1px solid #1779ba!important;
	color: #1779ba!important;
}
.view-cart-caret {
	margin-right: -6px;
	color: #118ccf;
}
.view-cart-price {
	border: #118ccf;
	background-color: #118ccf;
}
.view-cart-price:hover, .view-cart-price:link {
	background-color: #118ccf;
	font-size: 20px;
	padding: 10px;
	cursor: text;
}
.site-menus .site-menus-item {
	border: 1px solid #ececec;
	border-right: none;
	color: #118ccf;
	font-size: 15px;
}
.site-menus .is-submenu-item a {
	font-size: 14px;
}
#site-menus-wrapper .dropdown.menu > li.is-dropdown-submenu-parent > a::after  {
	border: none!important;
	content: none!important;
}
.is-dropdown-submenu .is-dropdown-submenu-parent > a::after,
.is-dropdown-submenu .is-dropdown-submenu-parent .opens-right > a::after {
	border-color: transparent transparent transparent rgba(79,82,84,0.38)!important;
}
.site-menus .site-menus-item:last-child a {
	border-right: 1px solid #ececec;
}
.site-menus .menu .is-active>a {
	background-color: #ececec;
}
.site-menus .is-dropdown-submenu {
	border-color: #ececec;
}
.site-menus .menu li {
	text-align: left;
	color: #ececec!important;
}
.site-menus li a:hover {
	color: #ffffff;
	background-color: #118ccf;
}
.site-menus ul a {
	color: #4f5254!important;
	font-size: 12px;
	border-bottom: 1px solid #ececec;
}
.site-menus ul a:hover {
	background-color: #ececec;
}
.custom-menu .button {
	background-color: none!important;
}
.callout-footer {
	background-color: #118ccf;
	color: #fff;
	padding-top: 20px!important;
	padding-bottom: 20px!important;
	margin-top: 20px!important;
	border: none;
}
.footer-wrapper .cell {
	margin-bottom: 10px;
}
.callout-footer strong {
	font-size: 16px;
	font-weight: bold;
}
.callout-footer ul li a {
	color: #fff;
	font-size: 16px;
	padding-left: 0;
	padding-bottom: 0;
}
.callout-footer ul {
	border-top: 1px solid #fff;
	margin-top: 5px;
	margin-right: 20px;
}
.callout-footer ul li {
	margin-top: 5px;
}
.callout-footer ul li a {
	font-size: .85em;
}
#newsletter-sign-up {
	border-top: 1px solid #fff;
	padding-top: 20px;
	margin-top: 5px;
}
#newsletter-sign-up input {
	height: 30px;
	font-size: .8em;
}
#newsletter-sign-up button {
	color: #fff;
	font-size: .9em;
	border: 1px solid #fff;
}
.footer-dot {
	padding-bottom: 11px;
	font-size: 1.5em;
	line-height: 0;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}
.ps-copy-rights {
	font-size: 12px;
	color: #525252;
}
.footer-terms-of-use {
	margin-left: 50px;
}

.olark-launch-button {z-index:9 !important;}

.grid-margin-custom-10 {
	margin-bottom: 10px;
}
.grid-margin-custom-20 {
	margin-bottom: 20px;
}
.grid-margin-custom-30 {
	margin-bottom: 30px;
}
.grid-margin-custom-40 {
	margin-bottom: 40px;
}
.grid-margin-custom-50 {
	margin-bottom: 50px;
}