
.orbit-slide .slider-header {
	font-size: 3.25em;
	font-weight: 200;
}
.orbit-slide .slider-content {
	font-size: 1.06em;
	line-height: 1.5em;
}
.orbit-bullets button {
	width: .8em;
	height: .8em;
	background-color: #ececec!important;
	cursor: pointer;
}
.orbit-bullets button.is-active {
	background-color: #118ccf!important;
}
.slider-button:hover {
	border-color: #118ccf;
	background-color: #118ccf;
}


.featured-price strike {
	color: #db0618;
	margin-right: 5px;
}
.featured-price {
	padding-bottom: 5px;
	font-size: 18px;
	padding-top: 5px;
	padding-right: 10px;
}


.card-train-pro {
	padding: 10px 0;
	text-align: center;
}
.review-table {
	border-collapse: initial;
	border: 1px solid #dcdcdc!important;
}
.review-table td {
	padding-top: 21px;
	padding-bottom: 21px;
}
.review-window {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}
.ratings {
	vertical-align: middle;
	text-align: center;
}
.ratings .fa {
	color: #ffd700;
}
.rating-caption {
	display: block;
	font-size: 12px;
}